.cDescription {
    flex-flow: column wrap;
}

.cFlexParent {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.cLeftFlex {
    flex-direction: column;
    display: flex;
    height: auto;
    width: 55vw;
    color:var(--darkorange);
    text-align: left;
    font-size: 1.5vw;
    margin-top: 5%;
    margin-left: 5%;
}

.cAboutTitle {
    color:var(--darkorange);
    font-weight: 700;
    display: flex;
    text-align: left;
    padding-bottom: 25px;
    font-size: 5vw;
}

.cRightFlex {
    height: 30vw;
    margin-left: 5%;
    margin-top: 5%;
}

.cMobileRight {
    display: none;
}

mark.color {
    color:var(--darkblue);
    background: none;
    font-weight: 700;
}

@media (max-width: 950px) {
    .cAboutTitle {
        font-size: 6vw;
    }
    .cHandsOnImpactImg {
        order: 0;
    }
    .cLeftFlex {
        font-size: 3vw;
    }
}

@media (max-width: 690px) {
    .cAboutTitle {
        font-size: 14vw;
        flex-direction: column;
        display: flex;
    }
    .cLeftFlex {
        font-size: 6vw;
        width: 90vw;
    }
    .cRightFlex {
        height: 50vw;
    }
    .cMobileRight {
        display: block;
    }
    .cDesktopRight {
        display: none;
    }
}